:root {
    --main-color: #021D32;
    --background-color: #2C2C2C;
    --text-main-color: #F6F6F6;
    --secondary-color: #D9D9D9;
    --electrodes-container-color: #0062AF;
    --enfasis-color: #4D8B31;
    --error-color: #FF0035;
    --warning-color: #D0B933;
    --hover-config-btn-color: #647485;
    --text-secondary-color: #000000;
    --hover-start-color: #38512f;
    --hover-stop-color: #5e2d37;
  }
  
.container {
  width: 1728px;
  height: 1187px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--background-color);
}

/*Header of the screen*/
.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
}

/*Adjust the logo size*/
.logo img {
    height: 84px;
    width: auto;
    padding: 0 20px;
}

/*Title of the screen*/
.title-container {
    display: flex;
    align-items: center;
    width: 864px;
    height: 62px;
    color: var(--text-main-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 48px;
}

/*Status of the devices*/
.status-hub {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--text-main-color);
    height: 81px;
    width: 609px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 48px;

}

.status-container {
    display: flex;
    width: 609px;
    height: 66px;
    justify-content: space-between;
}

.hub-bci-emg-container {
    display: flex;
    flex-direction: column; 
    margin-left: auto;
    margin-right: 20px;
    gap: 20px; 
    width:609px;
    margin-top: -100px;
}

.status-item {
    display: flex;
    width: 265px;
    height: 66px;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--text-main-color);
    border-radius: 58px;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: relative; 
    padding-left: 30px; 
}

.status-indicator {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: var(--error-color); 
    margin-right: 30px;
    position: absolute;
    left: 20px;
}
/*End header */

/* Configuration screen classes */
.configuration-parameters-container {
    display: flex;
    flex-direction: column;
    width: 572px;
    height: 615px;
    background-color: var(--main-color);
    color: var(--text-main-color);
    padding: 20px;
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 30px;
}

.config-title {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: var(--text-main-color);
    margin-top: 3px;
}

.config-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}

select {
    text-align: center;
    width: 208px;
    height: 38px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    background-color: var(--text-main-color);
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

select:focus {
    outline: none;
    border: 2px solid var(--focus-selection);
}

.config-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.btn-config {
    background-color: var(--secondary-color);
    color: var(--text-secondary-color);
    font-size: 32px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.btn-config:hover {
    background-color: var(--hover-config-btn-color);
    color: var(--text-main-color);
}

/* Electrode switch */
.electrode-switch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color); 
    padding: 15px;
    border-radius: 4px;
    width: 540px;
    height: 206px;
    margin-top: 20px;
}

.electrode-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    row-gap: 50px;
    width: 100%;
    justify-content: center;
}

.electrode-item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

.electrode-label {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: var(--text-secondary-color);
    margin-bottom: 10px; 
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 29px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    border-radius: 20px;
    transition: 0.3s;
}

/* Slider circle */
.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom:3.2px;
    background-color: var(--text-main-color);
    border-radius: 50%;
    transition: 0.3s;
}

/* Status ON */
input:checked + .slider {
    background-color: var(--enfasis-color); 
}

input:checked + .slider:before {
    transform: translateX(48px);
}

/* Electrode Status */
.electrode-status-panel {
    display: flex;
    flex-direction: column;
    margin-left: 620px;
    margin-top: -608px;
    gap: 20px; 
    align-items: center;
    background-color: var(--main-color);
    border-radius: 4px;
    width: 1048px;
    min-height: 500px;
}

/* Grid de los electrodos */
.electrode-state-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 60px; 
    column-gap: 40px; 
    width: 90%;
    padding: 35px;
    margin-left: 0px;
    justify-content: center;
}

.electrode-state-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--electrodes-container-color);
    padding: 10px;
    border-radius: 4px;
    width: 140px;
    height: 164px;
    color: var(--text-main-color);
    font-family: 'Lato', sans-serif;
    font-size:36px;
    font-weight: 600;
    text-align: center;
}

/* Indicador de estado del electrodo */
.electrode-state-indicator {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    margin-top: 10px;
}

/* Colores de los electrodos */
.green { background-color: var(--enfasis-color); }
.yellow { background-color: var(--warning-color); }
.red { background-color: var(--error-color); }

/* Botón TEST SENSORS */
.test-sensors-button {
    display: flex;
    align-items: center;
    width: 140px;
    height: 164px;
    justify-content: center;
    background-color: var(--enfasis-color);
    color: var(--text-main-color);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.test-sensors-button:hover {
    background-color: var(--hover-start-color);
}

.start-study-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--enfasis-color); 
    color: var(--text-main-color);
    font-weight: bold;
    font-size: 64px;
    font-family: 'Lato', sans-serif;
    width: 1048px;
    min-height: 125px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-left: 620px;
    margin-top: 25px;
}

.start-study-button:hover {
    background-color: var(--hover-start-color); 
}

.stop-study-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--error-color); 
    color: var(--text-main-color);
    font-weight: bold;
    font-size: 64px;
    font-family: 'Lato', sans-serif;
    width: 612px;
    min-height: 130px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    margin-left: 20px;
}

.stop-study-button:hover {
    background-color: var(--hover-stop-color); 
}

/* Graph Container */
.graph-container {
    display: flex;
    flex-direction: column;
    margin-left: 665px;
    margin-top: -660px;
    gap: 20px; 
    align-items: center;
    border-radius: 10px;
    width: 1038px;
    height: 613.8px;
}

/* System Status */
.system-status-container {
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 4px;
    width: 572px;
    height: 470px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.system-parameters {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 572px;
}

.parameter-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    margin-top: 15px;
    
}


.system-parameters label {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-main-color);
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: left;
}

.system-parameters .display-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border: none;
    width: 188px;
    height: 30px;
    padding: 5px;
    color: var(--text-secondary-color);
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

/* Footer */
.footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-main-color); 
    font-size: 20px; 
    font-family: 'Lato', sans-serif; 
    text-align: left; 
    padding: 10px 20px; 
    width: 1687px; 
}

